## Uploading the csv file in google colab and representing the top portion of the dataframe

In [ ]:
import numpy as np
import pandas as pd
import io
from google.colab import files
 
uploaded = files.upload()



df = pd.read_csv(io.BytesIO(uploaded['adult.data.csv']))
df.head()

Saving adult.data.csv to adult.data.csv

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

# Representing each race in this dataset? This is a Pandas series with race names as the index labels.

In [ ]:
race_count = df['race'].value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

# Representing the average age of men?

In [ ]:
average_age= df.groupby(['sex'])['age'].mean().iloc[1]
average_age_men=round(average_age,1)
average_age_men

39.4

# Representing the percentage of people who have a Bachelor's degree?

In [ ]:
bprct=  (df['education'].value_counts()/df['education'].count())*100
pptbachelors = bprct.loc['Bachelors']
percentage_bachelors = round(pptbachelors,1)
percentage_bachelors

16.4


## Percentage of people with higher education that earns >50K

In [ ]:
higheredu = df[(df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')]
totalhigheredu = higheredu.shape[0]
rchthigheredu = higheredu[higheredu['salary'] == '>50K']
richhigheredu = rchthigheredu.shape[0]
prcenthigheredu= (richhigheredu/totalhigheredu)*100
prcenthigheredu

46.535843011613935

## Percentage of people with lower education that earns >5K

In [ ]:
loweredu = df[(df['education'] != 'Bachelors') & (df['education'] != 'Masters') & (df['education'] != 'Doctorate')]
totalwredu = loweredu.shape[0]
rchtlwredu = loweredu[loweredu['salary'] == '>50K']
richlwredu = rchtlwredu.shape[0]
prcentlwredu = (richlwredu/totalwredu)*100
prcentlwredu

17.3713601914639

## Alternative code for above operations

In [ ]:
hghedui=df.groupby(['education'])['salary'].value_counts()

sr = hghedui.droplevel(1)
richhgh= sr[19]+sr[20]+sr[24]
richled = sr[1:18:2].sum()+sr[23]+sr[27:len(sr):3].sum()


higher_education = hghedui.loc[['Bachelors','Masters','Doctorate']].sum()

lower_education = hghedui.sum()-higher_education

    # percentage with salary >50K
higher_education_rich = (richhgh/higher_education)*100
lower_education_rich = (richled/lower_education)*100
sr
lower_education_rich

17.3713601914639

# The minimum number of hours a person works per week (hours-per-week feature)?

In [ ]:
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

## min hours workers making >50K

In [ ]:


minhrsdf = df[df['hours-per-week'] == df['hours-per-week'].min()]
num_min_workers = minhrsdf.shape[0]
richminhrs = minhrsdf[minhrsdf['salary'] == '>50K'].shape[0]
rich_percentage = (richminhrs/num_min_workers)*100
rich_percentage

10.0

## Country with highest percentage of people earning >50K among all countries and the percentage

In [ ]:
richdf = df[df['salary'] == '>50K']
richppl = richdf.shape[0]
igrp = richdf.groupby(['native-country'])['salary'].value_counts()
grprich = igrp.droplevel(1)
richcntry = grprich.idxmax()
trichcntry = grprich.max()
prcentcntry = (trichcntry/richppl)*100

prcentcntry
richcntry

'United-States'

## Country with highest percentage of people earning >50K among its residents and the percentage

In [ ]:
countrygrpdf = df.groupby(['native-country'])['salary'].value_counts()
drpcntrydf = countrygrpdf.droplevel(1)
richppldict = {}

for cntry in df['native-country'].unique():
        indcntrysr = countrygrpdf.loc[cntry]
        poorppl = indcntrysr.loc['<=50K']
        residents = countrygrpdf.loc[cntry].sum()
        poorpplpercent = (poorppl/residents)*100
        richpplpercent = 100-poorpplpercent
        richppldict[cntry]=richpplpercent

richppldict
highest_earning_country = max(richppldict, key=richppldict.get)
hcountrypercent = richppldict[highest_earning_country]
highest_earning_country_percentage=round(hcountrypercent,1)

highest_earning_country_percentage
highest_earning_country

'Iran'

## Identifying the most popular occupation for those who earn >50K in India

In [ ]:
indiadf =df[df['native-country'] == 'India']
richindiadf = indiadf[indiadf['salary'] == '>50K']
richindianseries = richindiadf['occupation'].value_counts()
top_IN_occupation= richindianseries.idxmax()
top_IN_occupation

'Prof-specialty'

In [ ]:
print("Number of each race:\n", race_count) 
print("Average age of men:", average_age_men)
print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
print(f"Min work time: {min_work_hours} hours/week")
print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
print("Country with highest percentage of rich:", highest_earning_country)
print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
print("Top occupations in India:", top_IN_occupation)

Number of each race:
 White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64
Average age of men: 39.4
Percentage with Bachelors degrees: 16.4%
Percentage with higher education that earn >50K: 46.535843011613935%
Percentage without higher education that earn >50K: 17.3713601914639%
Min work time: 1 hours/week
Percentage of rich among those who work fewest hours: 10.0%
Country with highest percentage of rich: Iran
Highest percentage of rich people in country: 41.9%
Top occupations in India: Prof-specialty